# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.idea/

*.csv
environments/KuaiRec/data/*
#!environments/KuaiRec/data/.gitkeep
environments/VirtualTaobao

saved_models/
visualization/figures
visualization/results

*.zip
results_for_paper/*.pdf

*.egg*
events.*
